APP_ICON ICON "../icon.ico"

#include <wx/msw/wx.rc>

VS_VERSION_INFO VERSIONINFO
FILEVERSION    1, 2, 2, 0
PRODUCTVERSION 1, 2, 2, 0
{
    BLOCK "StringFileInfo"
    {
        BLOCK "040904b0"
        {
            VALUE "CompanyName", "WorkingRobot"
                VALUE "FileDescription", "EGL2"
                VALUE "FileVersion", "1.0.0.0"
                VALUE "InternalName", "egl2"
                VALUE "LegalCopyright", "EGL2 (c) by Aleks Margarian (WorkingRobot)"
                VALUE "OriginalFilename", "EGL2.exe"
                VALUE "ProductName", "EGL2"
                VALUE "ProductVersion", "1.2.2.0"
        }
    }
    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0x409, 1200
    }
}